<!-- <form (submit)="edit? editProduct() : submitProduct()">
</form>
 -->
     <div *ngFor="let product of products">
         <div class="row">
             <div class="col-md-8">
                 <ul>
                     <li>
                         id:{{product._id}}
                     </li>
                     <li>
                         name: {{product.name}}
                     </li>
                     <li>
                         description: {{product.description}}
                     </li>
                     <li>
                         price: {{product.price}}
                     </li>
                     <li>
                         created at: {{product.createdAt}}
                     </li>
                 </ul>
                 <button class="btn btn-secondary" [routerLink]="['/product/edit', product._id]" >Editar</button>
                 <button class="btn btn-danger" (click)="deleteProduct(product._id || '')">Eliminar</button>
             </div>
             <div class="col-md-4">
                 <img [src]="product.imageURL" class="card-img">
             </div>
         </div>
     </div>
<!--  <app-search (buscar)="handleSearch($event)"> </app-search>
    <ul>
        <li *ngFor="let prod of prodxxx">{{prod.name}}></li>
    </ul> -->
<!--     <div *ngFor="let product of products">
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li>
                        id:{{product._id}}
                    </li>
                    <li>
                        name: {{product.name}}
                    </li>
                    <li>
                        description: {{product.description}}
                    </li>
                    <li>
                        price: {{product.price}}
                    </li>
                    <li>
                        created at: {{product.createdAt}}
                    </li>
                </ul>
                <button class="btn btn-secondary" [routerLink]="['/product/edit', product._id]" >Editar</button>
                <button class="btn btn-danger" (click)="deleteProduct(product._id || '')">Eliminar</button>
            </div>
            <div class="col-md-4">
                <img [src]="product.imageURL" class="card-img">
            </div>
        </div>
    </div> -->


<!-- <ng-container
    *ngFor="let productito of products"
  >

  <p>{{ productito.price }}</p>
</ng-container>
 -->

